<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel='stylesheet' href='home/home.css' />
    <link rel="stylesheet" href="https://use.typekit.net/onc2npj.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bear Collections</title>
</head>
<body>
<<<<<<< HEAD
    <h1>THIS IS A HOME PAGE!!!!</h1>
=======
    <body>
        <div class="topnav">
            <a href="/">Home</a>
            <a href='/rank'>Rankings</a>
            <a href="/log/books">Submit Book</a>
            <a href="/log/movies">Submit Movie</a>
        </div>
    </body>
    <h1>Bear Collections</h1>
    
>>>>>>> 737c3b5b1288fd3a09dcc774df05cafc541d01b3
</body>
</html>