<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel='stylesheet' href='home/rank.css' />
    <link rel="stylesheet" href="https://use.typekit.net/onc2npj.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bear Collections</title>
</head>
<body>
    <body>
        <div class="topnav">
            <a href="/">Home</a>
            <a href='/rank'>Rankings</a>
            <a href="/log/books">Submit Book</a>
            <a href="/log/movies">Submit Movie</a>
        </div>
    </body>
    <p>Top Five Books</p>
    <div class="covers">       
        <div class="rectangle">Becoming by Michelle Obama</div>
        <div class="rectangle">Atomic Habits by James Clear</div>
        <div class="rectangle">Educated by Tara Westover</div>
        <div class="rectangle">The Hate U Give by Angie Thomas</div>
        <div class="rectangle">Norwegian Wood by Haruki Murakami</div>
    </div>
    <p>Top Five Movies</p>
    <div class="covers">       
        <div class="rectangle">Hamilton</div>
        <div class="rectangle">The Social Dilemma</div>
        <div class="rectangle">Mamma Mia!</div>
        <div class="rectangle">Beauty and the Beast</div>
        <div class="rectangle">Clueless</div>
    </div>
</body>
</html>