<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="home/thanks.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!--<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">-->
    <link rel="stylesheet" href="https://use.typekit.net/onc2npj.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks</title>
</head>

<body>
    <div class="topnav">
        <a href="#home">Home</a>
        <a href="#books">Books</a>
        <a href="#movies">Movies</a>
        <a href="#shows">TV Shows</a>
    </div>
    <p>Thank You for Submitting!</p>
    <button><a href='#books'>Submit Book</a></button>
    <button><a href='#movies'>Submit Movie</a></button>
    <button><a href='#shows'>Submit TV Show</a></button>
</body>

</html>