<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="thanks.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks</title>
</head>

<body>
    <div class="topnav">
        <a href="#home">Home</a>
        <a href="#books">Books</a>
        <a href="#movies">Movies</a>
        <a href="#shows">TV Shows</a>
        <a href="#picks">Your Picks</a>
    </div>
    <section class='message'>
        <div>
            <h1>
                Thank You for Submitting!
            </h1>            
        </div>
    </section>
    <section>
        <div class='row'>
            <div class='column'>
                <h1> 
                    <a href='#home'>🏠 Home</a>
                </h1>
            </div>
            <div class='column'>
                <h1>Submit another book</h1>
            </div>
        </div>
        <div class='row'>
            <div class='column'>
                <h1>Submit another movie</h1>
            </div>
            <div class='column'>
                <h1>Submit another TV show</h1>
            </div>
        </div>
    </section>
</body>

</html>